/* intro section */
.intro {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.intro .container {
  display: flex;
  flex-direction: column;
}

.intro .container .stats-container {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  margin-bottom: 5rem;
}

.intro .container .stats-container .stat {
  flex: 1;
  background-color: var(--base-300);
  border: 1px solid rgba(242, 238, 218, 0.15);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.intro .container .stats-container .stat .stat-copy {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.intro .container .stats-container .stat .stat-copy .stats-copy-label {
  position: relative;
}

.intro .container .stats-container .stat .stat-copy .stats-copy-label p {
  margin-left: 1rem;
}

.intro .container .stats-container .stat .stat-copy .stats-copy-label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: var(--base-500);
  display: inline-block;
}

.intro .container .intro-header {
  width: 50%;
  margin-bottom: 2.5rem;
}

.intro .container .intro-copy {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2.5rem;
}

.intro .container .intro-copy .intro-copy-wrapper {
  width: 70%;
}

.intro .container .intro-copy .intro-copy-wrapper h3 {
  color: var(--base-300);
}

.intro .container .intro-copy .intro-copy-wrapper h3 .char {
  display: inline-block;
  will-change: color;
}

/* intro - media queries */
@media (max-width: 1000px) {
  .intro .container .stats-container {
    flex-direction: column;
  }

  .intro .container {
    padding: 1rem;
  }

  .intro .container .intro-header {
    width: 75%;
  }

  .intro .container .intro-copy .intro-copy-wrapper {
    width: 100%;
  }
}
