/* CTA Section */
.cta {
  position: relative;
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 1.5rem;
}

.cta .cta-content {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cta .cta-content .cta-logo {
  width: 150px;
  height: 150px;
  overflow: hidden;
  transform: scale(0);
  margin-bottom: 2rem;
}

.cta .cta-content .cta-copy {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.cta .cta-content .cta-copy .line-mask {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.cta .cta-content .cta-copy .line {
  position: relative;
  will-change: transform;
  color: var(--base-200);
}

/* Responsive */
@media (max-width: 768px) {
  .cta {
    padding: 4rem 1rem;
    min-height: 50vh;
  }

  .cta .cta-content .cta-copy {
    width: 100%;
  }
}
