/* hero section */
.hero {
  position: relative;
  width: 100%;
  height: 100svh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero .hero-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero .hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--base-400);
  border-radius: 1rem;
}

.hero-model-fullscreen {
  position: absolute;
  top: 5%;
  bottom: 0;
  right: -5%;
  width: 80%;
  height: 95%;
  z-index: 1;
  pointer-events: none;
}

.hero-model-loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .hero-container .hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.hero .hero-container .hero-content .container {
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.hero .hero-container .hero-content .container .hero-content-nav {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.hero .hero-container .hero-content .container .hero-content-nav .hero-timer {
  opacity: 0;
  will-change: opacity;
}

.hero .hero-container .hero-content .container .hero-content-nav .hero-timer p {
  width: 10rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(242, 238, 218, 0.05);
  border: 1px solid rgba(242, 238, 218, 0.15);
  border-radius: 0.25rem;
  backdrop-filter: blur(0.2rem);
}

.hero .hero-container .hero-content .container .hero-content-main {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
}

.hero .hero-container .hero-content .container .hero-content-header {
  max-width: 60%;
}

.hero .hero-container .hero-content .container .hero-content-footer {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.hero .hero-container .hero-content .container .hero-content-footer div:nth-child(1) {
  flex: 4;
}

.hero .hero-container .hero-content .container .hero-content-footer div:nth-child(2) {
  flex: 1;
}

.hero .hero-container .hero-content .container .hero-content-footer .hero-footer-copy p {
  width: 50%;
}

/* hero - media queries */
@media (max-width: 1000px) {
  .hero .hero-container .hero-content .container {
    padding: 6rem 1rem 4rem 1rem;
    align-items: center;
    text-align: center;
  }

  .hero .hero-container .hero-content .container .hero-content-main {
    justify-content: center;
  }

  .hero .hero-container .hero-content .container .hero-content-header {
    max-width: 100%;
  }

  .hero .hero-container .hero-content .container .hero-content-nav,
  .hero .hero-container .hero-content .container .hero-content-footer div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero .hero-container .hero-content .container .hero-content-footer .hero-footer-copy p {
    width: 90%;
    margin: 0 auto;
  }

  .hero .hero-container .hero-content .container .hero-content-footer .hero-callout {
    display: none;
  }
}

@media (max-width: 768px) {
  .hero-model-fullscreen {
    width: 100%;
    height: 60%;
    right: 0;
    bottom: 10%;
  }
}
