/* featured missions header section */
.featured-missions-header {
  position: relative;
  width: 100vw;
  height: 100svh;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  z-index: -1;
}

.featured-missions-header h1 {
  color: var(--base-100);
  font-size: 20vw;
}

/* featured missions list section */
.featured-missions {
  width: 100%;
  padding: 7.5rem 1.5rem 15rem 1.5rem;
}

.featured-missions .featured-missions-list {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
}

.featured-missions .featured-missions-list .featured-missions-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  background-color: var(--base-200);
  padding: 3rem 1.5rem;
  border-radius: 0.5rem;
}

.featured-missions .featured-missions-list .featured-missions-item h3,
.featured-missions .featured-missions-list .featured-missions-item p {
  color: var(--base-400);
}

.featured-missions .featured-missions-list .featured-missions-item p {
  font-weight: 600;
}

.featured-missions .featured-missions-list .featured-missions-item .featured-mission-item-img {
  aspect-ratio: 5/3;
  overflow: hidden;
  border-radius: 0.5rem;
}

/* featured missions - media queries */
@media (max-width: 1000px) {
  .featured-missions {
    padding: 8rem 1rem;
  }

  .featured-missions .featured-missions-list {
    width: 100%;
    gap: 4.5rem;
  }
}
